.nav{
    background-color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.logoutbtn{
    margin-left: 50rem;
}
.profile{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 20rem;
    color: white;
    text-decoration: none;
    font-size:xx-large;
    /* position: absolute; top:0.5rem; left:15rem; */
}

.backgnd{
    background-color: whitesmoke;
    margin-left:25rem ;
    margin-right: 25rem;
    margin-bottom:0rem;
    border-radius: 12px;
}
.text{
    padding-top: 1rem;

    margin-top: 3rem;
    margin-left: 10rem;
}
.input{
    width: 400px;
    margin-left: 5.5rem;
    margin-top: 0.5rem;
}
.hr{
    margin-left: 14rem;
}
.btn{
    margin-left: 12rem;
    margin-right: 0.5rem;
}
.b{
    padding-top: 1rem;
}

.data{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #0f0e0f2a; 
    margin-left: 25rem;
    margin-right:25rem;
    border-radius: 12px;
}

.title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 1rem;
    color: black(228, 222, 222, 0.432);
    /* align-items: flex-end; */
    /* flex-flow: column-reverse; */
    /* justify-content: flex-start; */
    flex: 1;
}
.des{
    font-size: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
    margin: 0 1rem;
    color: black;}
.amount{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    margin-left: 12rem;
}

